.errorContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #121212;
  height: 100vh;
}

.errorLogoContainer {
  position: absolute;
  top: 10px;
}

.errorLogo {
  width: 200px;
}
