@media screen and (max-width: 3840px) {
  .mobileNavbarToggled {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .full {
    display: none;
  }
  .mini {
    display: block;
  }
  .homeContainer {
    justify-content: center;
    text-align: center;
    height: 100vh;
    background-image: url("https://res.cloudinary.com/diruiumfk/image/upload/v1680216082/background-highlight-mobile_ql5zhz.png");
  }
  .titleContainer {
    max-width: 100vw;
    margin: 0rem 2rem 0rem 2rem;
  }
  .titles {
    font-size: 3rem;
  }
  .homeImage img {
    display: none;
  }
  .homeButtons {
    justify-content: center;
  }
  .categoriesContainer {
    right: 53vw;
  }
  .counterContainer {
    gap: 10vw;
  }
  .socialContainer {
    flex-wrap: wrap;
    padding: 2rem;
  }
  .subscribeNewsletter {
    flex-direction: column;
  }
  .newsletterBtn {
    width: 17.3rem;
  }
  .checkoutContainer {
    grid-template-columns: 1fr 200px;
    padding: 50px;
  }
  #newsletter {
    text-align: center;
    padding-left: 0;
    width: 17.3rem;
    height: 2.5rem;
  }
}

@media screen and (max-width: 750px) {
  .navbar {
    margin-top: 87vh;
  }
  .navLinks {
    display: none;
  }
  .categoriesContainer {
    display: none;
  }
  .homeButtons {
    flex-wrap: wrap;
  }
  .navbarOptionsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .cartCounter {
    top: 22px;
    right: 54px;
  }
  .navbarToggler {
    display: block;
  }
  .socialContainer {
    display: flex;
    flex-direction: column;
  }
  .logo-icon {
    height: 60px;
  }
  .footerContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding-bottom: 8rem;
  }
  .footerDivs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .newsletter {
    display: flex;
    flex-direction: column;
  }
  .divider {
    display: none;
  }
  /* width */
  ::-webkit-scrollbar {
    width: 0px;
  }
  .loginContainer {
    grid-template-columns: 1fr;
  }
  .backgroundImageLogin {
    display: none;
  }
  .checkoutContainer {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
  }
  .yourOrderContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .productContainer {
    display: flex;
    flex-direction: column;
  }
  .productDetailImageContainer {
    width: 400px;
  }
  .productImage {
    height: 150px;
  }
  .itemListImageMobile {
    height: 350px;
  }
  .mobileNavbarToggled {
    display: flex;
  }
  .underConstruction {
    height: 20vh;
  }
  .cartControlContainer {
    gap: 0px;
  }
  .cartControlButtons {
    padding: 0px 0px 20px 0px;
  }
}

@media screen and (max-width: 382px) {
  .navbarOptionsContainer {
    .btn {
      display: none;
    }
    .navbar {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
