@media screen and (max-width: 1199px) {
  .full {
    display: none;
  }
  .mini {
    display: block;
  }
  .homeContainer {
    justify-content: center;
    text-align: center;
    height: 100vh;
    background-image: url("https://res.cloudinary.com/diruiumfk/image/upload/v1680216082/background-highlight-mobile_ql5zhz.png");
  }
  .titleContainer {
    max-width: 100vw;
    margin: 0rem 2rem 0rem 2rem;
  }
  .titles {
    font-size: 3rem;
  }
  .homeImage img {
    display: none;
  }
  .homeButtons {
    justify-content: center;
  }
  .counterContainer {
    gap: 10vw;
  }
  .socialContainer {
    flex-wrap: wrap;
    padding: 2rem;
  }
  .subscribeNewsletter {
    flex-direction: column;
  }
  .newsletterBtn {
    width: 17.3rem;
  }
  #newsletter {
    text-align: center;
    padding-left: 0;
    width: 17.3rem;
    height: 2.5rem;
  }
}

@media screen and (max-width: 750px) {
  .navLinks {
    display: none;
  }
  .homeButtons {
    flex-wrap: wrap;
  }
  .navbarOptionsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .cartCounter {
    top: 22px;
    right: 54px;
  }
  .navbarToggler {
    display: block;
  }
  .socialContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .logo-icon {
    height: 60px;
  }
  .footerContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .footerDivs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .newsletter {
    display: flex;
    flex-direction: column;
  }
  .divider {
    display: none;
  }
  /* width */
  ::-webkit-scrollbar {
    width: 0px;
  }
}

@media screen and (max-width: 382px) {
  .navbarOptionsContainer {
    .btn {
      display: none;
    }
    .navbar {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
