.navbarContainer {
  display: flex;
  justify-content: center;
}

.navbar {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  width: 95vw;
  height: 5rem;
  background-color: rgba(18, 18, 18, 0.8);
  color: white;
  margin-top: 90vh;
  padding: 0rem 2rem 0rem 2rem;
  font-family: Roboto;
  z-index: 1;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  backdrop-filter: blur(5px);
  z-index: 100;
}

.navLinksContainer {
  display: flex;
  flex-direction: row;
}

.navLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: white;
  text-decoration: none;
  margin-left: 2rem;
  &:hover {
    text-decoration: underline;
  }
}

.navbarLogo {
  height: 2rem;
}

.navbarToggler {
  display: none;
}

.navbarOptionsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.cartContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cartCounter {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 18px;
  font-size: 15px;
  top: 22px;
  right: 18px;
  background-color: #ff00c3;
  height: 18px;
  width: 18px;
  border-radius: 18px;
  overflow: hidden;
}

.mini {
  display: none;
}

.categoriesDeploy {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: red;
}

.deployMenuTrigger li:hover .categoriesDeploy {
  background-color: blue;
}

.categoriesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 100px;
  right: 49vw;
  height: 100px;
  width: 200px;
  border-radius: 20px;
  background-color: rgba(18, 18, 18, 0.8);
  backdrop-filter: blur(5px);
  z-index: 1;
  border: 1px solid gray;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.navLinksExpanded {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  height: 30px;
  &:hover {
    background-color: #ff00c3;
    border-radius: 5px;
    width: 100px;
  }
}
