.footerContainer {
  padding: 3rem 5rem 3rem 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: auto;
  width: 100vw;
  background-color: #121212;
  justify-items: center;
}

.footerLinksContainer {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.footerLinks {
  color: white;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.newsletter {
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
}

.newsletterBtn {
  display: flex;
  gap: 0.3rem;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  width: 10rem;
  color: white;
  cursor: pointer;
  text-decoration: none;
  font-family: Roboto;
  background: -moz-linear-gradient(90deg, #391be6 0%, #ff00c3 100%);
  background: -webkit-linear-gradient(90deg, #391be6 0%, #ff00c3 100%);
  background: linear-gradient(90deg, #391be6 0%, #ff00c3 100%);
  border: none;
  &:hover {
    background: -moz-linear-gradient(90deg, #3316d4 0%, #e702b1 100%);
    background: -webkit-linear-gradient(90deg, #3316d4 0%, #e702b1 100%);
    background: linear-gradient(90deg, #3316d4 0%, #e702b1 100%);
  }
}

.divider {
  position: absolute;
  right: 48vw;
  width: 3px;
  height: 550px;
  background-color: #242424;
  border-radius: 50%;
}

.subscribeNewsletter {
  display: flex;
  flex-direction: row;
}

#newsletter {
  background-color: #242424;
  border: none;
  padding-left: 1rem;
  width: 300px;
  &:focus {
    border: none;
    outline: none;
    text-decoration: none;
  }
}

.socialIcons {
  display: flex;
  justify-content: center;
  gap: 3.5rem;
  padding-top: 2rem;
  color: white;
}

.socialCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid white;
  height: 40px;
  width: 40px;
  border-radius: 40px;
  line-height: 0px;
  &:hover {
    background-color: #242424;
  }
}
