.loginContainer {
  background-color: #121212;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.goBackHome {
  position: absolute;
  top: 10px;
  left: 10px;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  background-image: url("https://res.cloudinary.com/diruiumfk/image/upload/v1680216082/background-highlight-mobile_ql5zhz.png");
}

.loginTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.forms {
  height: 40px;
  width: 300px;
  border-radius: 20px;
  border: 1px solid gray;
  background-color: transparent;
  &:hover {
    border: 1px solid;
    border-color: linear-gradient(0deg, #391be6 0%, #ff00c3 100%);
  }
}

.formBtn {
  width: 200px;
}

.loginOptionsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.loginOptionsBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 20px;
  height: 40px;
  width: 300px;
  gap: 10px;
  font-family: Roboto;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &:hover {
    transition: 0.3s;
    background: -moz-linear-gradient(90deg, #391be6 0%, #ff00c3 100%);
    background: -webkit-linear-gradient(90deg, #391be6 0%, #ff00c3 100%);
    background: linear-gradient(90deg, #391be6 0%, #ff00c3 100%);
    border: 0px;
  }
}

.backgroundImageLogin {
  background-image: url("https://res.cloudinary.com/diruiumfk/image/upload/v1681920310/n1ttllhtizkpiiidib89.jpg");
  background-size: cover;
  background-position: 75%;
  background-repeat: no-repeat;
}

::placeholder {
  padding-left: 20px;
}
