@use "../src/components/Navbar/navbar";
@use "../src/components/Social/social";
@use "../src/components/Footer/footer";
@use "./scss/utilities/variables";
@use "../src/components/ItemList/itemlistcontainer";
@use "../src/components/Counter/counter";
@use "../src/components/Home/home";
@use "./scss/utilities/mediaqueries";
