.navbarContainer {
  display: flex;
  justify-content: center;
}

.navbar {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  width: 95vw;
  height: 5rem;
  background-color: rgba(18, 18, 18, 0.8);
  color: white;
  margin-top: 2vh;
  padding: 0rem 2rem 0rem 2rem;
  font-family: Roboto;
  z-index: 1;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  backdrop-filter: blur(5px);
}

.navLinksContainer {
  display: flex;
  flex-direction: row;
}

.navLinks {
  color: white;
  text-decoration: none;
  margin-left: 2rem;
  &:hover {
    color: rgb(194, 194, 194);
  }
}

.navbarLogo {
  height: 2rem;
}

.navbarToggler {
  display: none;
}

.navbarOptionsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.cartContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cartCounter {
  font-size: 15px;
  padding-top: 6px;
}
