.itemList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: -webkit-linear-gradient(30deg, #ff00c3 0%, #391be6 100%);
  height: 100vh;
}

.useStateCounter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: white;
  border-radius: 5px;
  width: 100px;
}

.useStateBtn {
  color: black;
  background-color: transparent;
  border: none;
  width: 30px;
  height: 25px;
  border-left: 1px solid rgb(208, 208, 208);
  border-right: 1px solid rgb(208, 208, 208);
  &:hover {
    background-color: rgb(236, 236, 236);
  }
  &:disabled {
    background-color: rgb(236, 236, 236);
  }
}

.useStateNumber {
  display: flex;
  justify-content: center;
  color: black;
  width: 40px;
}

.productCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.productCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #121212;
  margin: 2rem 0rem;
  border-radius: 10px;
  width: 32rem;
  height: 25rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 6px;
}

.productInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.productImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0b0b0b;
}

.productImage {
  height: 350px;
}

.stockPrice {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productSubtitle {
  color: white;
  font-size: 30px;
}

.productId {
  font-weight: 100;
}

.productPrice {
  font-size: 30px;
  color: #ff00c3;
}

.productBtnContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  gap: 10px;
}

.productBtnContainer > .btn {
  width: 100%;
}

.contains {
  margin-bottom: 10px;
}

.containsList {
  font-weight: 100;
}

.btn:disabled {
  cursor: auto;
  border: 1px solid gray;
  color: gray;
}

.btn[disabled]:hover {
  background: transparent;
}

.filterProds {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: rgba(18, 18, 18, 0.8);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  backdrop-filter: blur(5px);
  height: 40px;
  width: 300px;
  border-radius: 0px 0px 10px 10px;
}
.filterBtn:hover {
  text-decoration: underline;
}
